Support link header

Discovery with well-known URI
The RFC 5758 [RFC5758] defines a mechanism for reserving 'well-known' URIs on any Web server. 
 
The URI /.well-known/datacatalog on any Web server is registered by this specification for a datacatalog with dataset descriptions of datasets hosted on that server. For example, on the host www.example.com, this URI would be http://www.example.com/.well-known/datacatalog.
 
This URI may be an HTTP redirect to the location of the actual datacatalog file. The most appropriate HTTP redirect code is 302. Clients accessing this well-known URI MUST handle HTTP redirects.
 
The datacatalog file accessible via the well-known URI should contain descriptions of all datasets hosted on the server. This includes any datasets that have resolvable URIs, a SPARQL endpoint, a data dump, or any other access mechanism whose URI is on the server's hostname.
 
This document defines the “.well-known” URI void using the registration procedure and template from Section 5.1 of [RFC5758] as follows:
 
URI suffix:
    datacatalog
Change controller:
    W3C
Specification document(s):
    This document.



Voorbeeld:  https://www.openarch.nl/.well-known/datacatalog